
@model HomeIndexViewmodel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 mt-3">
        <div class="card">
            <div class="card-header">
                Phần mềm mới nhất
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width : 65% ">Phần mềm</th>
                            <th scope="col" style="width : 35% " class="hidden-sm">Hệ điều hành</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var software in Model.News_Softwares)
                        {
                            //@Url.Action("Details","Home",new { url = software.short_url })
                            //@Url.Action("Download","Home", new { url = software.short_url })
                            <tr>
                                <th scope="row">
                                    <a href="@Url.Action("Details", "Home", new { url = software.short_url })" style="text-decoration : none">
                                        <img src="@Url.Content(software.icon)" style="width : 3em; height: 3em" />
                                        <span style="display:inline">@software.Name</span>
                                    </a>
                                </th>
                                <td class="hidden-sm">
                                    @software.operating_systems
                                </td>
                                <td>
                                    @*<div class="rating">
                                            @{
                                                int rate = Convert.ToInt32(software.rating);
                                            }
                                            @for (int i = 1; i <= rate; i++)
                                            {
                                                <span>☆</span>
                                            }
                                            @for (int i = 5; i > rate; i--)
                                            {
                                                <span>☆</span>
                                            }
                                        </div>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-3">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                Phổ biến nhất
            </div>
            <div class="most-popular">
                @foreach (var item in Model.Top_Softwares)
                {
                    <a href="@Url.Action("details","home" , new { url = item.short_url })" style="text-decoration : none">
                        <div class="most-popular-item">
                            <img src="@item.icon" style="width : 2em ; height : 2em; display : inline" />
                            <span style="display :inline">@item.Name</span>
                        </div>
                    </a>
                }

            </div>
        </div>


    </div>
</div>

@section scripts{
    <script>
        $('#Name').change(function (event) {
            console.log($('#Name').val());
        });
    </script>
}