
@model HomeIndexViewmodel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 mt-3">
        <div class="card">
            <div class="card-header">
                Phần mềm mới nhất
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width : 10% ">Icon</th>
                            <th scope="col" style="width : 35% ">Tên</th>
                            <th scope="col" style="width : 25% ">Hệ điều hành</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var software in Model.News_Softwares)
                        {
                            //@Url.Action("Details","Home",new { url = software.short_url })
                            //@Url.Action("Download","Home", new { url = software.short_url })
                            <tr>
                                <th scope="row">
                                    <a href="@Url.Action("Details", "Home", new { url = software.short_url })">
                                        <img src="@Url.Content(software.icon)" style="width : 3em; height: 3em" />
                                    </a>
                                </th>
                                <td>
                                    <a href="@Url.Action("Details", "Home", new { url = software.short_url })">
                                        @software.Name
                                    </a>

                                </td>
                                <td>
                                    @software.operating_systems
                                </td>
                                <td>
                                    @*<div class="rating">
                                        @{
                                            int rate = Convert.ToInt32(software.rating);
                                        }
                                        @for (int i = 1; i <= rate; i++)
                                        {
                                            <span>☆</span>
                                        }
                                        @for (int i = 5; i > rate; i--)
                                        {
                                            <span>☆</span>
                                        }
                                    </div>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-3">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                Bảng xếp hạng
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>


    </div>
</div>

@section scripts{
    <script>
        $('#Name').change(function(event){
            console.log($('#Name').val());
        });
    </script>
}