@model List<TblSoftware>
@{
    ViewData["Title"] = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (Model is null || Model.Count == 0)
{
    <div class="alert mt-3" role="alert">Không tìm thấy gì, bạn hãy thử từ khoá khác.</div>
    return;
}
else
{
    <div class="row">
        <div class="alert" role="alert">Tìm thấy @ViewBag.Count trong tổng số @ViewBag.Total phần mềm </div>
    </div>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 search_2_search_result_item">
                <a href="@Url.Action("details","home", new { url = item.short_url })">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="@item.icon" style="width : 5em; height: 5em" />
                        </div>
                        <div class="col">
                            <h5 class="card-title">@item.Name</h5>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-4 search_2_search_result_item">
                <a href="@Url.Action("details","home", new { url = item.short_url })">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="@item.icon" style="width : 5em; height: 5em" />
                        </div>
                        <div class="col">
                            <h5 class="card-title">@item.Name</h5>
                        </div>
                    </div>

                </a>
            </div>
        }
    </div>
}
